<!-- partial:header -->
<%- include ('admin/admin-header.ejs') %>
<div class="container-scroller">
  <!-- partial:top nav bar -->
  <%- include ('admin/top-nav.ejs') %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:top side bar -->
    <%- include ('admin/side-nav.ejs') %>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h1>Hello World</h1>
              <center>
                <img style="width:200px;height:auto" src="<%= information.ProfilePicture %>" alt="image" class="img-thumbnail">
                <br>
                <h4><%= information.Name %> <%= information.Surname %></h4>
              </center>
            </div>
          </div>
        </div>

        <div class="col-12 grid-margin stretch-card"></div>
        <div class="card">
          <div class="card-body">


            <h4 class="card-title">Profile</h4>
            <p class="alert-warning">Only after updating your email address the app will auto logout and you will need
              to login.</p>
            <div class="forms-sample">
              <form method="POST" action="/user/profile/data" class="form-group row">

                <div class="col-sm-6">

                  <div class="form-group">
                    <label for="p-name" class="col-form-label">First Name</label>
                    <input value="<%= information.Name %>" type="text" class="form-control" id="p-name"
                      placeholder="First Name" name="Name">
                  </div>

                  <div class="form-group">
                    <label for="p-surname" class="col-form-label">Last Name</label>
                    <input value="<%= information.Surname %>" type="text" class="form-control" id="p-surname"
                      placeholder="lastname" name="Surname">
                  </div>

                </div>

                <div class="col-sm-6">

                  <div class="form-group">
                    <label for="p-username" class="col-form-label">Username</label>
                    <input value="<%= information.Username %>" type="text" class="form-control" id="p-username"
                      placeholder="username" name="Username">
                  </div>

                  <div class="form-group">
                    <label for="p-email" class="col-form-label">Email Address</label>
                    <input value="<%= information.Email %>" type="text" class="form-control" id="p-email"
                      placeholder="email" name="Email">
                  </div>

                </div>

                <button id="UserProfileDataSave" type="submit" class="btn btn-gradient-success mr-2">Save
                  Profile</button>

              </form>

              <button id="UserProfileDataCheck" onclick="UserProfileDataCheck()"
                class="btn btn-gradient-success mr-2">Check Before Saving</button>

              <script>
                document.getElementById("UserProfileDataSave").style.display = "none";

                function UserProfileDataCheck() {
                  const nameEl = document.getElementById("p-name");
                  const surnameEl = document.getElementById("p-surname");
                  const emailEl = document.getElementById("p-email");
                  const usernameEl = document.getElementById("p-username");

                  name = nameEl.value;
                  surname = surnameEl.value;
                  email = emailEl.value;
                  username = usernameEl.value;

                  if (!name || !surname || !email || !username) {
                    alert("All fields are required");
                    return;
                  }

                  if (name.length < 4) {
                    alert("Name should be more than 3 charecters!");
                    return;
                  }

                  if (surname.length < 4) {
                    alert("Surname should be more than 3 charecters!");
                    return;
                  }

                  if (email.length < 5) {
                    alert("Email Address should be more than 5 charecters!");
                    return;
                  }

                  if (username.length < 4) {
                    alert("username should be more than 4 charecters!");
                    return;
                  }

                  let atPosition = email.indexOf('@');
                  let counter = 0;
                  if (atPosition < 0) {
                    alert("Please enter a valid email address!");
                    return;
                  }
                  for (let x = atPosition - 1; x < email.length; x++)
                    if (email[x] == '.')
                      counter++;
                  if (counter < 1) {
                    alert("Please enter a valid email address!");
                    return;
                  }

                  let patt = /(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%&]/g;
                  if (!patt.test(username)) {
                    alert("Username must be a combination of Uppercase, Lowercase and Numbers!");
                    return;
                  }

                  document.getElementById("UserProfileDataSave").style.display = "inline";
                  document.getElementById("UserProfileDataCheck").style.display = "none";

                  /*nameEl.disabled = true;
                  surnameEl.disabled = true;
                  emailEl.disabled = true;
                  usernameEl.disabled = true;*/

                }

              </script>

              <br />
              <br />

              <div id="content-box-3">
                <h4 class="card-title">Change Password</h4>

                <form method="POST" action="/user/profile/passcode">

                  <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control form-control-lg" id="p-password" placeholder="Password"
                      name="Passcode">
                  </div>

                  <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control form-control-lg" id="p-confirm-password"
                      placeholder="Confirm Password">
                  </div>

                  <button id="UserProfilePasswordSave" type="submit" class="btn btn-gradient-success mr-2">Save
                    Profile</button>

                </form>

                <button id="UserProfilePasswordCheck" onclick="UserProfilePasswordCheck()"
                  class="btn btn-gradient-success mr-2">Check Before Saving</button>

                <script>
                  document.getElementById("UserProfilePasswordSave").style.display = "none";

                  function UserProfilePasswordCheck() {
                    const passwordEl = document.getElementById("p-password");
                    const confirmPasswordEl = document.getElementById("p-confirm-password");

                    password = passwordEl.value;
                    confirmPassword = confirmPasswordEl.value;

                    if (!password || !confirmPassword) {
                      alert("All fields are required");
                      return;
                    }

                    if (password.length < 5 || confirmPassword.length < 5) {
                      alert("Password should be morethan 5 charecters");
                      return;
                    }

                    if (password != confirmPassword) {
                      alert("Password and Confirm Password must be the same!");
                      return;
                    }

                    document.getElementById("UserProfilePasswordSave").style.display = "inline";
                    document.getElementById("UserProfilePasswordCheck").style.display = "none";

                    /*passwordEl.disabled = true;
                    confirmPasswordEl.disabled = true;*/

                  }

                </script>

                <br />
                <br />

                <div id="content-box-4">
                  <h4 class="card-title">Profile Pictures</h4>

                  <table class="table table-responsive-sm table-striped table-hover">
                    <thead>
                      <tr>
                        <th> User Profile </th>
                        <th> Status </th>
                        <th> Upload </th>
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="py-1">
                          <img src="<%= information.ProfilePicture %>" alt="image">
                        </td>
                        <td> Upload Status </td>
                        <form action="/user/profile/picture" method="post" enctype="multipart/form-data">
                        <td>
                          <div class="form-check form-check-flat form-check-primary">
                            <div class="custom-file">
                              <input name="filetoupload" accept="image/*" type="file" class="custom-file-input" id="customFile">
                              <label class="text-capitalize custom-file-label" for="customFile">Choose file</label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <button type="submit" id="img-upload-submit"
                            class="btn btn-link btn-rounded btn-fw">Upload</button>
                        </td>
                      </form>
                      </tr>

                    </tbody>
                  </table>

                  <div id="image-to-display">
                    <image style="display:none" id="img-upload" height="500" width="500"></image>
                  </div>

                  <script>
                    const uploader = document.getElementById('customFile');
                    const submitImgBtn = document.getElementById("img-upload-submit");
                    submitImgBtn.style.display = "none";

                    uploader.addEventListener("change", () => {
                      alert("Hello");
                      submitImgBtn.style.display = "inline";
                    })

                    

                      /*//Copy Image blob to image src
                      const imageTag = document.getElementById("img-upload");
                      const imageURL = URL.createObjectURL(file.files[0]);
                      //imageTag.src = imageURL;



                      function toDataURL(src, callback, outputFormat) {
                        var img = new Image();
                        img.crossOrigin = 'Anonymous';
                        img.onload = function () {
                          var canvas = document.createElement('CANVAS');
                          var ctx = canvas.getContext('2d');
                          var dataURL;
                          canvas.height = this.naturalHeight;
                          canvas.width = this.naturalWidth;
                          ctx.drawImage(this, 0, 0);
                          dataURL = canvas.toDataURL(outputFormat);
                          callback(dataURL);
                        };
                        img.src = src;
                        if (img.complete || img.complete === undefined) {
                          img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                          img.src = src;
                        }
                      }


                      toDataURL(
                        imageURL,
                        function (dataUrl) {
                          imageTag.src = dataUrl;

                          console.log();

                          //Fetch Api to send a request
                          fetch('/user/profile/picture', {
                            method: 'post',
                            headers: {
                              "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                            },
                            body: `imageBase64=${dataUrl}`
                          })
                            .then(res => {
                              if (res.status == 200) {
                                return res.text();
                              } else
                                alert("An error occured please try again!");
                            })
                            .then(text => {
                              //Get results and convert them to an object
                              const res = JSON.parse(text);
                              //if ststus is true print success and locate to a different page else print error
                              if (res.status) {
                                alert("Profile Picture uploaded with success!");
                                //localStorage.setItem('output', JSON.stringify(res.output));
                                location.assign("/user/profile");
                              } else {
                                alert("Unexpected error occured!");
                                location.assign("/login");
                              }
                            })
                            .catch(res => {
                              //Print any error related to sending request
                              alert(`An error occured: ${res}`);
                            });

                        }
                      )

                    }*/
                  </script>

                  <br />
                  <br />

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ('admin/admin-footer.ejs') %>
    </div>
  </div>
</div>
<%- include ('admin/load-scripts.ejs') %>
</body>

</html>